
/* Стиль только для блока обязанностей */
.header {
    background-color: rgba(180, 180, 180, 0.336); /* Тёмный полупрозрачный фон */
    padding: 25px;
    border: 1px s ;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    color: var(--header-h1);  /* Бордовый цвет в HEX */
    font-size: 38px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; /* Опционально: сделать текст заглавными */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .header-p1 {
    color:var(--header-h1);  /* Бордовый цвет в HEX */
    font-size: 38px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; /* Опционально: сделать текст заглавными */
  }

  .header-p2 {
    color: #000000;  /* Бордовый цвет в HEX */
    font-size: 38px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; /* Опционально: сделать текст заглавными */

  }

  .button-icon-slugba {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  
}

.icon-slugba  {
  position: fixed;
  top: 2px;
  left: 60px;
  width: 80px; /* Настройте размер SVG */
  height: 36px;
  fill: #000; /* Измените цвет, если SVG поддерживает fill */
}

/* Дополнительные стили, если нужно */
.about-header {
  display: flex;
  align-items: center;
  padding: 10px;
}