



/* Стиль только для блока обязанностей */
.header {
  position: relative; /* Для позиционирования иконки */
  text-align: center;
    background-color: rgba(180, 180, 180, 0.336); /* Тёмный полупрозрачный фон */
    padding: 25px;
    border: 1px s ;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    position: relative;
  text-align: center;
  padding: 20px;
  color: white;
}
/* иконка герб */
.header-icon-container {
  display: flex;
  justify-content: center;
  
}

.header-icon {
  width: 100px; /* Настройте по вашему вкусу */
  height: auto;
  object-fit: contain;
}

/* кнопка */
/* Анимация мерцания */
@keyframes shadowRun {
 0% { box-shadow: 0 0 0 rgba(255,255,255,0); }
  25% { box-shadow: 0 0 10px rgba(255,255,255,0.7); }
  50% { box-shadow: 0 0 15px rgba(255,255,255,0.5); }
  75% { box-shadow: 0 0 10px rgba(255,255,255,0.7); }
  100% { box-shadow: 0 0 0 rgba(255,255,255,0); }
}

/* Стили кнопки */
.about-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(128, 0, 0, 0.719);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  margin-top: -3px;
}

/* Класс для активации анимации */
.about-button.animate {
 animation: shadowRun 0.5s 3; /* 3 итерации по 0.5s каждая */
  animation-fill-mode: forwards;
}





/* Адаптация для мобильных */
@media (max-width: 768px) {
  .about-button {
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    font-size: 0.9rem;
  }
  
  .header h1 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  
  .header-p1, .header-p2 {
    font-size: 1.1rem;
  }
}
/* //// */
.header h1 {
    color: var(--header-h1);  /* Бордовый цвет в HEX */
    font-size: 38px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; /* Опционально: сделать текст заглавными */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .header-p1 {
    color:var(--header-h1);  /* Бордовый цвет в HEX */
    font-size: 38px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; /* Опционально: сделать текст заглавными */
  }

  .header-p2 {
    color: #000000;  /* Бордовый цвет в HEX */
    font-size: 38px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; /* Опционально: сделать текст заглавными */

  }

  .button-icon-slugba {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  
}

